<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="InfoFile" fileName="logs/info.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="DebugFile" fileName="logs/debug.log">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <Smtp name="EmailLogger"
              to="${env:SMTP_TO}"
              from="${env:SMTP_USERNAME}"
              subject="Critical Error Alert"
              smtpHost="${env:SMTP_HOST}"
              smtpPort="${env:SMTP_PORT}"
              smtpUsername="${env:SMTP_USERNAME}"
              smtpPassword="${env:SMTP_PASSWORD}"
              smtpProtocol="smtps">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <ThresholdFilter level="FATAL" onMatch="ACCEPT" onMismatch="DENY" />
        </Smtp>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="DebugFile" />
            <AppenderRef ref="InfoFile" level="info"/>
            <AppenderRef ref="Console" level="error"/>
            <AppenderRef ref="EmailLogger" level="fatal"/>
        </Root>
    </Loggers>
</Configuration>